
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04652c;
    margin: 0;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #cccccc;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .9rem;
    overflow: auto;
}

main.table::-webkit-scrollbar
{
    width: 10px;
}

.table_header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_header h1 {
    margin-bottom: 0;
    font-size: 40px;
}

.table_body {
    width: 100%;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #04652c;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.arrow-back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.arrow-back a {
    font-size: 24px;
    text-decoration: none;
    color: #151111;
}

h2
{
    padding-left: 10px;
}

.inline-elements h2, .inline-elements h4, .inline-elements h3, .inline-elements p {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

.inline-elements h2
{
    font-size: 30px;
}

.inline-elements h3
{
    font-size: 25px;
}

.inline-elements h4
{
    font-size: 20px;
}

.inline-elements .twe
{
    font-size: 29px;
}

.inline-elements .tree
{
    font-size: 24px;
}

.inline-elements .four
{
    font-size: 19px;
}

.data_cliente h2 p 
{
    /* background: red; */
    font-size: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #cccccc; /* Color de fondo de las cabeceras */
    z-index: 1; /* Asegura que las cabeceras estén por encima del contenido */
}

tbody tr:nth-child(even) {
    background-color: #b5b5b5;
}

div .table_header h2 
{
    /* background: red;  */
    width: 100%;
    padding: 30px 0 0 0;
} 

table {
    width: 100%;
}

table .menu {
    /* background: red; */
    width: 40%;
}

table .cantidad {
    /* background: red; */
    width: 2%;
}

table .precio_uni {
    /* background: red; */
    width: 2%;
}

table .precio {
    /* background: red; */
    width: 2%;
}

table .tipo_menu {
    /* background: red; */
    width: 15%;
}

table .redireccion{
    /* background: red; */
    width: 29%;
}

table .redireccion a{
    /* background: red; */
    color: #151111;
    text-decoration: none;
}

table .redireccion a:hover{
    /* background: red; */
    color: #34b43c;
}

table .importe{
    /* background: red; */
    width: 90%;
    text-align: left;
}

table .costo{
    /* background: red; */
    width: 10%;
}

.table_body {
    width: 100%;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow-y: scroll; 
    max-height: 400px; 
}

hr
{
    border: 0.4px dashed #04652c; 
}

@media (max-width: 455px) 
{

    .inline-elements h2, .inline-elements h4, .inline-elements h3, .inline-elements p {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
    }

    .inline-elements h2
    {
        font-size: 25px;
    }

    .inline-elements h3
    {
        font-size: 20px;
    }

    .inline-elements h4
    {
        font-size: 20px;
    }

    .inline-elements .twe
    {
        font-size: 22px;
    }

    .inline-elements .tree
    {
        font-size: 19px;
    }

    .inline-elements .four
    {
        font-size: 19px;
    }

}
