@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*
{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    text-decoration: none ;
    list-style: none ;
}

body
{
    background-color: #f1faee ;
    font-family: 'Poppins', sans-serif ;
}

.container
{
    max-width: 1200px;
    margin: 0 auto ;
}

.header
{
    display: flex ;
    align-items: center ;
    min-height: 80vh ;
}

.swiper-slide
{
    padding: 0 80px 50px 80px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

/*FALTA CAMBIAR*/
/* no funca - solucion: ponerlo en html
.swiper-button-prev::after
{
    font-size: 25px;
}

.swiper-button-prev
{
    color: #feffff;
}

.swiper-button-next::after
{
    font-size: 25px;
}

.swiper-button-next
{
    color: #feffff;
}
*/

.swiper-pagination-bullet
{
    background-color: #747474 ;
    opacity: 1 ;
}
/* no funca - solucion: ponerlo en html
.swiper-pagination-bullet-active
{
    background-color: #04652c ;
}
*/
.menu
{
    position: absolute ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    z-index: 1000 ;
}

.logo img
{
    display: flex ;
    align-items: center ;
    width: 120px;
    margin-right: 0.3rem ;
    
    display: inline-block ;
    vertical-align: middle ;
}

.menu .navbar ul li
{
    position: relative ;
    float: left ;
}

.menu .navbar ul li a
{
    font-size: 18px ;
    padding: 20px ;
    color: #04652c ;
    display: block ;
}

.menu .navbar ul li a:hover
{
    color: #34b43c;
}

#menu
{
    display: none ;
}

.menu-icono
{
    width: 25px ;
}

.menu label
{
    cursor: pointer ;
    display: none ;
}

.submenu
{
    position: relative ;
}

.submenu #carrito
{
    display: none ;
}

.submenu:hover #carrito
{
    display: block ;
    position: absolute ;
    right: 0 ;
    backdrop-filter: blur(100px);
    top: 100% ;
    z-index: 1 ;
    background-color: #04652c ;
    padding: 20px ;
    min-width: 400px ;
    border-radius: 10px ;
}

table
{
    width: 100% ;
}

th , td
{
    color: #cccccc ;
}

.borrar
{
    background-color: #04652c;
    border-radius: 10px ;
    padding: 5px 10px ;
    text-decoration: none ;
    color: #fefefe ;
    font-weight: 800 ;
}

.borrar:hover
{
    background-color: #34b43c ;
}

.header-content
{
    padding: 200px 0 100px 0 ;
}

.header-info
{
    display: flex ;
}

.header-txt
{
    width: 50% ;
}

.header-txt h1
{
    font-size: 50px ;
    color: #04652c ;
    text-transform: capitalize ;
}

.header-img
{
    width: 50% ;
    text-align: right ;
}

.header-img img
{
    width: 20px 0 ;
}

.prices
{
    display: flex ;
    margin: 20px 0 ;
}

.price-1
{
    font-size: 30px ;
    color: #747b8f ;
    text-decoration-line: line-through;
}

.price-2
{
    font-size: 30px ;
    color: #34b43c !important ;
}

.btn-1
{
    display: inline-block ;
    background-color: #04652c ;
    color: #fefefe ;
    font-size: 16px ;
    padding: 10px 25px ;
    border-radius: 25px ;
    margin-top: 40px ;
}

.btn-1:hover
{
    background-color: #34b43c ;
}

hr
{
    border: 1px solid #04652c ;
}

.promos
{
    padding: 50px 0 ;
    text-align: center ;
}

.promos h2
{
    font-size: 50px ;
    color: #04652c ;
    margin-bottom: 35px ;
}

.categories
{
    text-align: left ;
    display: grid ;
    grid-template-columns: repeat(2 , 1fr) ;
}

.categorie
{
    display: flex ;
    align-items: center ;
    padding: 35px ;
}

.categorie img
{
    width: 150px ;
}

.categorie-1
{
    width: 50% ;
}

.categorie-1 h3
{
    color: #04652c ;
    font-size: 22px ;
    font-weight: 600 ;
}

.categorie-1 p
{
    color: #747b8f ;
    font-size: 18px ;
}

.categorie-img
{
    width: 50% ;
}

.products img
{
    width: 150px ;
}

.products
{
    padding: 50px 0 ;
}

.products h2
{
    font-size:  50px ;
    color: #04652c;
    margin-bottom: 70px ;
}

.product
{
    text-align: center ;
}

.product img
{
    width: 150px ;
    margin-bottom: 15px ;
}

.product-txt h3
{
    font-size: 18px ;
    color: #04652c ;
    margin-bottom: 15px ;
}

.product-txt p
{
    color: #747b8f ; /*FALTA CAMBIAR*/
    font-size: 16px ;
    margin-bottom: 15px ;
}

.precio
{
    color: #151111!important ;
}

.btn-3
{
    display: inline-block ;
    padding: 10px 25px ;
    font-size: 14px ;
    color: #cccccc ;
    border: 1px solid ;
    background-color: #04652c;
    border-radius: 25px ;
    margin-top: 15px ;
}

.btn-3:hover
{
    background-color: #34b43c ;
}

.footer
{
    display: flex ;
    padding: 30px 0 ;
}

.link
{
    width: 50% ;
}

.link h3
{
    color: #04652c ;
    margin-bottom: 20px ;
}

.link a
{
    color: #747b8f ;
    margin-bottom: 10px ;
    transition: 0.5s ;
}

.link a:hover
{
    color: #34b43c  ;
}

.link p
{
    color: #d5d8e0 ;
    font-size: 16px;
}

/*BARRA LATERAL*/
#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0px ;
    background: rgba(21, 23, 25, 0.9); 
    left: -200px;
    transition: all 500ms linear;
    backdrop-filter: blur(100px); 
}

#sidebar.active {
    left: 0px;
    backdrop-filter: blur(100px); 
    z-index: 1001;
}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
}

#sidebar ul li a {
    position: relative;
    font-size: 18px;
    padding: 20px;
    color: #04652c;
}

#sidebar ul li a:hover {
    color: #34b43c;
}

.img_user {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 120px;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn {
    display: block;
    width: 20px;
    text-align: center;
    font-size: 20px;
    top: 40px;
}

.type_cliente
{
    padding: 10px;
}

.menu-icono
{
    display: inline-block ; 
    vertical-align: middle ;
}

@media (max-width:1340px) /*991px*/
{
    .menu
    {
        padding: 20px ;
    }

    .menu label
    {
        display: initial ;
    }

    .menu .navbar
    {
        display: none ;
        position: absolute ;
        top: 100% ;
        left: 0 ;
        right: 0 ;
        background-color: #cccccc;
        display: none ;
    }

    .menu .navbar ul li
    {
        width: 100% ;
    }

    #menu:checked ~ .navbar
    {
        display: initial ;
    }

    .logo
    {
        display: none ;
    }

    .submenu:hover #carrito
    {
        min-width: 100% ;
    }

    .mySwiper-1
    {
        width: 300px ;
    }

    .swiper-slide
    {
        padding: 0 30px 50px 30px ;
    }

    .header-content
    {
        padding: 100px 0 50px 30px ;
    }

    .header-info
    {
        padding: 0 ;
        flex-direction: column ;
        text-align: center ;
    }

    .header-txt
    {
        width: 100% ;
    }

    .header-txt h1
    {
        font-size: 40px ;
    }

    .header-img
    {
        width: 100% ;
    }

    .header-img img
    {
        width: 200px ;
    }

    .prices
    {
        flex-direction: column ;
    }

    .promos
    {
        padding: 30px ;
    }

    .promos h2
    {
        font-size: 40px ;
        margin-bottom: 0 ;
    }

    .categories
    {
        grid-template-columns: repeat (1, 1fr) ;
    }

    .categorie
    {
        flex-direction: column ;
        text-align: center ;
        padding: 20px ;
    }

    .categorie-1
    {
        width: 100% ;
        margin-bottom: 25px ;
        order: -1 ;
    }

    .categorie-img
    {
        width: 100% ;
    }

    .products
    {
        padding: 30px ;
    }

    .products h2
    {
        font-size: 40px ;
        margin-bottom: 40px ;
    }

    .footer
    {
        flex-direction: column ;
        align-items: center ;
        text-align: center ;
    }

    .link
    {
        width: 100% ;
    }


    .fa-cart-shopping
    {
        /* top: 35px ; */
        /* right: -550px; */
        position: fixed;
        top: 7.7%; 
        right: 60px; 
        color: #151111; 
        cursor: pointer;
    }

    .submenu:hover #carrito
    {
        position: fixed;
        top: 10%; 
        right: 8%; 
        min-width: auto; /* Quitamos el ancho mínimo */
        backdrop-filter: none; 
    }
}