body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*BARRA SUPERIOR*/

/* Estilos para el encabezado */
#nav {
    height: 50px;
    background-color: #ffa600ad;
    color: #fff;
    padding: 10px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Utilizamos flexbox para alinear los elementos horizontalmente */
}

#nav li {
    border-color: #000000;
    display: inline-block;
    margin-right: 20px;
}

/* Posiciona el enlace "Acceder" a la derecha */
#nav ul:last-child {
    margin-left: auto;
}

#nav li a {
    box-sizing: border-box;
    font-weight: bold;
    color: #000000;
    text-decoration: dotted;
    padding: 5px 10px;
}

#nav li a:hover {
    background-color: #fffefe;
    border-radius: 5px;
}

/* Estilos para el menú desplegable */
#nav ul ul {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f09f25;
    padding: 10px;
}

#nav li:hover ul {
    border-color: #000000;
    display: block;
}

#nav ul ul li {
    display: block;
}

#nav ul ul li a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
}

#nav ul ul li a:hover {
    background-color: #ffffff63;
}
#login{
    border-color: #000000;
}


/*IMAGEN*/

div .img{
    width: 100%;
    height: 600px;
}

.txt{
    letter-spacing: 5px;
    color: #9c9898;
    font-weight:bolder;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top:250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    width: 170px;
    height: 50px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #f09f25;
    color: #000000;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover{
    background-color: #fab760;
}
div button a{
    box-sizing: border-box;
    font-weight: bold;
    color: #000000;
    text-decoration: dotted;
    padding: 5px 10px;
}